{{> head }}
<body>
    
    {{> header }}
            
    <div class="main-cat">
  <!--  <div class="categorias">-->
        
        <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <a href="/libros/categoria/5f27920f3d27f557ae2b741c">Romance</a>
                       <a href="/libros/categoria/5f27920f3d27f557ae2b741c"><img class= "nuevogen" src="/public/img/icons/romance.png" alt=""></a> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <a href="/libros/categoria/5f2792683d27f557ae2b741f">Ciencia Ficción</a>
                        <a href="/libros/categoria/5f2792683d27f557ae2b741f"><img class= "nuevogen imgcat"  src="/public/img/icons/cficcion.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-music"></i>
                        </div>
                        <a href="/libros/categoria/5f27923d3d27f557ae2b741d">Drama</a>
                        <a href="/libros/categoria/5f27923d3d27f557ae2b741d"><img class= "nuevogen" src="/public/img/icons/drama.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                          <a href="/libros/categoria/5f2792873d27f557ae2b7420">Biografía</a>
                          <a href="/libros/categoria/5f2792873d27f557ae2b7420"><img class= "nuevogen" src="/public/img/icons/biografia.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <a href="/libros/categoria/5f2793373d27f557ae2b7421">TERROR</a>
                        <a href="/libros/categoria/5f2793373d27f557ae2b7421"><img class= "nuevogen"  src="/public/img/icons/terror.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-music"></i>
                        </div>
                        <a href="/libros/categoria/5f2792523d27f557ae2b741e">SUSPENSO</a>
                        <a href="/libros/categoria/5f2792523d27f557ae2b741e"> <img class= "nuevogen" src="/public/img/icons/Suspenso.png" alt=""></a>
                    </div>
                </div>
            </div>

    </div>
{{> footer }}
