{{>head}}
    
<body>
{{>header}}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
<a href="/login" class="active"><h2 class="log">Login</h2></a>
<a href="/register"> <h2 class="log">Registro</h2></a> 
{{>log-reg}}
    <!-- Login Form -->
    {{>log}}


    <!-- Remind Passowrd 
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>-->

  </div>
</div>

{{>footer}}
    