
<header>
<div class="usser">
    <div class="us2">

{{#if verificadorToken}}
       <a href="/login">Login</a>
    {{else}}
         <a href="/">Logout</a>
{{/if}}
    </div>
    <div class="us3">
       <a href="#">Carrito</a>
    </div>
    <div class="us4">
        <img src="/public/img/icons/search.png" alt="">
    </div>
</div>

<ul class="nav justify-content-end">
    <li class="nav-item">
        <a href="/" class="nav-link active">Inicio</a>
    </li >
    <li class="nav-item">
        <a href="/categoria" class="nav-link">Categorias</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Contacto</a>
    </li>

</ul>

        </header>