 
 
 <form class="form-horizontal" method="post" action="/logins">
      <input type="text" id="login" class="fadeIn second" name="user_log" placeholder="Correo">
      <input type="password" id="password" class="fadeIn third" name="pass_l" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
